:root{
    --h1-font: 'Open Sans', sans-serif;
    --p-font: 'Poppins', sans-serif;
    --violet: hsl(257, 40%, 49%);
    --magenta: hsl(300, 69%, 71%);
    --white: hsl(0, 0%, 100%);
    box-sizing: border-box;
    
}

body{
    font-family: var(--p-font);
    background-image: url(images/bg-mobile.svg);
    background-color: var(--violet);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
    height: 100vh;

}


h1, p, img, a{
    padding: 0;
    margin: 0;
}


@media only screen and (min-width:992px){
    body{
        background-image: url(images/bg-desktop.svg);
        
    }
}

main{
    padding: 30px 20px;
    text-align: center;
}

main .logo{
    display: block;
    text-align: left;
    height: 39px;
    margin-bottom: 50px;
}

main .mockups{
    width: 100%;
}

@media only screen and (min-width:992px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        text-align: left;
    }
}

main h1{
    margin-bottom: 15px;
}

main p{
    margin-bottom: 20px;
}

main a{
    padding: 15px;
    color:var(--violet);
    background:var(--white);
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    min-width: 250px;
}

@media only screen and (min-width:992px){
    main .right{
        margin-left: 57px;
    }
}


footer{
    padding: 10px;
    background: pink;
}
